{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
